@charset 'utf-8';
* {
  padding: 0px;
  margin: 0px;
  font-family: "Microsoft YaHei";
}
.defaultA {
  display: block;
  outline: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.defaultUl {
  list-style: none;
}
#header-box {
  width: 100%;
  height: 60px;
  border-top: 3px solid #458bca;
}
#header-box #header {
  width: 1200px;
  margin: 0 auto;
}
#header-box #header a {
  display: inline-block;
  float: left;
}
#header-box #header a img {
  float: left;
  width: 45px;
  margin-top: 7.5px;
  margin-right: 5px;
}
#header-box #header a h3 {
  float: left;
  margin: 0;
  line-height: 60px;
}
#header-box #header a span {
  float: left;
  display: inline-block;
  padding: 2px;
  margin-top: 17px;
  margin-left: 3px;
  height: 14px;
  line-height: 10px;
  font-size: 8px;
  color: #fff;
  background-color: #d0d0d0;
}
#main-box {
  width: 100%;
  padding: 40px 0;
  background-color: #e7e8eb;
  overflow: hidden;
}
#main {
  margin: 0 auto;
  width: 1200px;
  border: 1px solid #e7e8eb;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}
/*侧边导航栏*/
.col-side {
  border-right: 1px solid #e7e8eb;
  padding: 0px;
}
.col-side .menu {
  list-style: none;
}
.col-side .menu .nav-header {
  padding-top: 10px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  color: #b2b2b2;
  border-top: 1px solid #e7e8eb;
}
.col-side .menu .active a {
  border-radius: 0px;
  color: #fff;
}
.col-side .menu i {
  margin-left: 30px;
  margin-right: 5px;
}
/*主体内容*/
.col-main {
  padding-bottom: 30px;
}
#main-title {
  overflow: hidden;
}
#main-title h4 {
  padding: 0;
  margin: 0;
  margin-left: 14px;
  height: 75px;
  line-height: 75px;
  color: #222222;
  font-size: 16px;
}
#main-title .title-nav {
  border-bottom: 1px solid #458bca;
}
.page-nav .breadcrumb {
  margin: 26px 30px 40px;
  margin-left: 14px;
  padding: 0px;
  background-color: #fff;
  height: 40px;
}
.page-nav a {
  font-size: 14px;
  line-height: 40px;
}
.page-nav .back {
  margin-right: 10px;
}
#detail-info {
  padding-left: 0px;
  padding-bottom: 14px;
  padding-right: 0px;
  margin-left: 14px;
  width: 320px;
  border: 1px solid #e7e7eb;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#detail-info .main-item {
  margin: 14px;
}
#detail-info .icon {
  color: #666;
}
#detail-info .img-box {
  position: relative;
}
#detail-info .img-box img {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 290px;
  height: 160px;
}
#detail-info .img-box .cover-word {
  height: 160px;
  font-size: 15px;
  line-height: 160px;
  text-align: center;
  color: #b2b2b2;
  background-color: #e7e8eb;
}
#detail-info .img-box .title {
  position: absolute;
  margin: 0px;
  padding: 0px 0 0px 4px;
  width: 290px;
  line-height: 28px;
  max-height: 56px;
  left: 0px;
  top: 132px;
  color: #fff;
  background-color: #5e5e5e;
  font-size: 15px;
  opacity: 0.5;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
}
#detail-info .img-box .top-cover {
  display: none;
  position: absolute;
  width: 290px;
  height: 160px;
  left: 0px;
  top: 0px;
  background-color: #ccc;
  opacity: 0.7;
}
#detail-info .img-box .icon-active {
  color: #000;
}
#detail-info .img-box .edit-icon {
  margin: 72px 137px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 16px;
  text-decoration: none;
}
#detail-info .small-item {
  position: relative;
  margin: 0px;
  padding: 10px 14px;
  border-top: 1px solid #e7e7eb;
}
#detail-info .small-item h4 {
  display: block;
  padding-left:0px;
  margin:0px;
  line-height: 28px;
  max-height: 56px;
  color: #b2b2b2;
  font-size: 15px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
#detail-info .small-item img {
  display: none;
  position: absolute;
  width: 78px;
  height: 78px;
  z-index: 2;
}
#detail-info .small-item a {
  display: block;
  height: 78px;
  line-height: 39px;
  font-size: 15px;
  color: #b2b2b2;
  cursor: pointer;
}
#detail-info .small-item .back-word {
  width: 78px;
  height: 78px;
  line-height: 78px;
  font-size: 13px;
  color: #b2b2b2;
  background-color: #e7e8eb;
  vertical-align: middle;
  text-align: center;
}
#detail-info .small-item .small-top-cover {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #ccc;
  z-index: 10;
  opacity: 0.7;
}
#detail-info .small-item .small-top-cover .glyphicon {
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  color: #666;
  text-decoration: none;
}
#detail-info .small-item .small-top-cover .icon-active {
  color: #000;
}
#detail-info .small-item .small-top-cover .glyphicon-trash {
  margin-left: 20px;
}
#detail-info .small-item .small-top-cover .glyphicon-pencil {
  margin: 40px 129px;
  margin-right: 0px;
}
#detail-info .add-small-item {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  height: 75px;
  border: 2px dotted #d9d9db;
  line-height: 86px;
  vertical-align: middle;
  text-align: center;
}
#detail-info .add-small-item .light-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/icon.png');
  background-repeat: no-repeat;
  background-position: 0px -2809px;
}
#detail-info .add-small-item .icon-active {
  background-image: url('../img/icon.png');
  background-repeat: no-repeat;
  background-position: 0px -2885px;
}
#detail-info .item-active {
  border-color: #b2b2b2;
}
/*右侧编辑区*/
#edit-area {
  position: relative;
  padding: 20px;
  margin-left: 30px;
  border: 1px solid #e7e7eb;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #f4f5f9;
}
.edit-form label {
  display: block;
  font-weight: normal;
}
.edit-form .input-tip {
  color: #b2b2b2;
}
/*输入限制的提示*/
#edit-area .input-tip {
  color: #b2b2b2;
}
/*统计字数*/
#edit-area .count-word{
  float: right;
  padding-right:4px;
  color:#8d8d8d;
}
#edit-area .count-word-warning{
  color:#e15f63;
}
/*操作不符合规则*/
#edit-area .fail{
  display: none;
  margin:5px 0px 0px 0px;
  color:#e15f63;
}
/*选择是否显示图片-----start*/
#cover-img{

}
label[for=cover-img]{
  display: inline;
}
/*选择是否显示图片-----start*/
/*用户已经上传的图片-----start*/
.edit-form .up-load-img{
  display: none;
  margin:8px 0px;
}
.edit-form .up-load-img img{
  max-width:100px;
  max-height:100px;
  min-width: 50px;
  min-height: 50px;
}
.edit-form .up-load-img .del-upload-img{
  vertical-align:bottom;
  color:rgb(69,154,233);
}
/*用户已经上传的图片-----end*/
.add-summary a {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #459ae9;
}
.add-summary textarea {
  display: none;
  width: 100%;
  height: 100px;
  border: 1px solid #e7e7eb;
  text-indent: 10px;
  outline: none;
  resize: none;
}
.main-article {
  padding-top: 5px;
}
.main-article p {
  font-size: 14px;
}
.small-edit-box {
  padding: 0px;
  margin-left: 30px;
}
.edit-area-sm {
  display: none;
  position: relative;
  padding: 20px;
  border: 1px solid #e7e7eb;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #f4f5f9;
}
.tool-area {
  padding: 20px 0px;
  margin: 45px 0px;
  border-top: 1px solid #e7e7eb;
}
.tool-area #save {
  margin-right: 20px;
}
.tool-area button {
  width: 100px;
}
#img-reposity-box {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #000;
  z-index: 999;
  opacity: 0.5;
}
#img-reposity {
  display: none;
  position: fixed;
  width: 845px;
  height: 580px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  z-index: 1000;
  opacity: 1;
}
#img-reposity .row {
  margin: 0;
}
#img-reposity .dialog-hd h3 {
  margin: 0px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 52px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  background-color: #f4f5f9;
}
#img-reposity .dialog-hd a {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 9px;
  top: 17px;
  background-image: url("../img/icon.png");
  background-position: 0 -2757px;
  background-repeat: no-repeat;
}
#img-reposity .dialog-hd a:hover {
  background-position: 0 -2783px;
}
#img-reposity .dialog-bd {
  background-color: #fff;
  padding-bottom: 10px;
}
#img-reposity .dialog-bd .bd-main {
  padding: 0px;
  border-left: 1px solid #e7e7eb;
}
#img-reposity .dialog-bd .dv-group {
  padding-right: 0px;
  height: 462px;
  overflow: auto;
}
#img-reposity .dialog-bd .dv-group a {
  text-align: center;
  border-radius: 0px;
}
#img-reposity .dialog-bd .bd-top {
  padding: 10px 13px;
  border-bottom: 1px solid #e7e7eb;
}
#img-reposity .dialog-bd .img-tip {
  position: relative;
  padding: 6.5px 10px;
  border: 1px solid #e7e7eb;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  line-height: 21px;
  background-color: #fff;
  word-wrap: break-word;
  word-break: break-all;
}
#img-reposity .dialog-bd .img-tip i {
  position: absolute;
}
#img-reposity .dialog-bd .img-wrap {
  padding: 20px 0px;
}
#img-reposity .dialog-bd .img-list {
  padding: 0 10px 0 20px;
}
#img-reposity .dialog-bd .item {
  position: relative;
  display: block;
  padding: 0px;
  margin: 5px 17px 10px 0px;
  width: 117px;
  cursor: pointer;
  list-style: none;
}
#img-reposity .dialog-bd .item .img-box {
  width: 117px;
  height: 117px;
  border: 1px solid #e7e7eb;
}
#img-reposity .dialog-bd .item img {
  width: 117px;
  height: 117px;
}
#img-reposity .dialog-bd .item .img-name {
  display: block;
  width: 100%;
  padding: 0 14px;
  height: 32px;
  line-height: 32px;
  border-left: 1px solid #e7e7eb;
  border-right: 1px solid #e7e7eb;
  border-bottom: 1px solid #e7e7eb;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#img-reposity .dialog-bd .selected-mark {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 117px;
  height: 117px;
  background-color: #000;
  opacity: 0.5;
}
#img-reposity .dialog-bd .tick-img {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 117px;
  height: 117px;
  background: url("../img/tick.png") no-repeat center center;
  margin: 0 auto;
}
#img-reposity .dialog-bd .page-nav {
  position: relative;
  padding-right: 10px;
}
#img-reposity .dialog-bd .page-nav span {
  display: inline-block;
  float: right;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  margin-right: 3px;
}
#img-reposity .dialog-bd .page-nav button {
  float: right;
  width: 20px;
  height: 34px;
}
#img-reposity .dialog-bd .page-go {
  padding-left: 0px;
}
#img-reposity .dialog-ft {
  padding: 10px 20px;
  background-color: #f4f5f9;
}
#img-reposity .dialog-ft .dialog-ft-desc {
  line-height: 34px;
  margin-bottom: 0px;
}
#img-reposity .dialog-ft .dialog-ft-btn {
  width: 100px;
}

/*从图片库选择 弹出框的样式-----start*/
#select-img {
  display: none;
  width: 846px;
  height: 579px;
  position: fixed;
  z-index: 9999;
  background-color: white;
  top: 7%;
  left: 19%;
}
#select-img .dialog-head {
  height: 52px;
  width: 100%;
  background-color: #f4f5f9;
  line-height: 52px;
  border-bottom: 1px solid #e7e7eb;
  padding: 0px 20px;
  font-size: 16px;
}
#select-img .dialog-head .btn-exit {
  display: block;
  float: right;
  color: #9C9CA2;
  cursor: pointer;
  font-size: 24px;
}
#select-img .dialog-head .btn-exit:hover {
  color: #333;
}
#select-img .dialog-body {
  height: 462px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e7e7eb;
}
#select-img .dialog-body .inner-side {
  width: 150px;
  height: 100%;
  border-right: 1px solid #e7e7eb;
  float: left;
}
#select-img .dialog-body .inner-side .groud-list {
  width: 150px;
  height: 100%;
  overflow-y: auto;
}
#select-img .dialog-body .inner-side .groud-list .inner-menu-item {
  width: 150px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}
#select-img .dialog-body .inner-side .groud-list .inner-menu-item .inner-menu-link {
  display: block;
  width: 100%;
  height: 32px;
  padding-left: 21px;
  text-decoration: none;
}
#select-img .dialog-body .inner-side .groud-list .inner-menu-item .inner-menu-link .item-name {
  display: inline-block;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  margin-top: -2px;
}
#select-img .dialog-body .inner-side .groud-list .inner-menu-item .inner-menu-link .num {
  display: inline-block;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-size: 14px;
  color: #8d8d8d;
}
#select-img .dialog-body .inner-side .groud-list .inner-menu-item .inner-menu-link:hover {
  background-color: #F4F4F4;
}
#select-img .dialog-body .inner-side .groud-list .active-item {
  background-color: #F4F4F4;
}
#select-img .dialog-body .inner-main {
  width: 693px;
  height: 100%;
  float: right;
}
#select-img .dialog-body .inner-main .local-select {
  width: 100%;
  height: 53px;
  line-height: 53px;
  border-bottom: 1px solid #e7e7eb;
}
#select-img .dialog-body .inner-main .local-select .select-info {
  width: 320px;
  height: 32px;
  display: inline-block;
  line-height: 32px;
  text-align: center;
  border: 1px solid #e7e7eb;
  margin-left: 200px;
  position: relative;
}
#select-img .dialog-body .inner-main .local-select .triangle {
  width: 0px;
  height: 0px;
  border: 8px;
  border-style: solid;
  position: absolute;
}
#select-img .dialog-body .inner-main .local-select .out {
  border-color: transparent  transparent  transparent #EDEDED ;
  top: 12%;
  left: 79.5%;
}
#select-img .dialog-body .inner-main .local-select .in {
  border-color: transparent  transparent  transparent #fff;
  left: -10px;
  top: -8px;
}
#select-img .dialog-body .inner-main .local-select .upload-btn {
  display: inline-block;
  color: white;
  background-color: #459ae9;
  width: 106px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 30px;
}
#select-img .dialog-body .inner-main .local-select #upload-file {
  display: none;
  position: absolute;
  z-index: -1;
}
#select-img .dialog-body .inner-main .local-select #iframe-hidden {
  display: none;
}
#select-img .dialog-body .inner-main .select-img-box .no-img {
  width: 100%;
  height: 222px;
  text-align: center;
  font-size: 14px;
  color: #8d8d8d;
  line-height: 222px;
}
#select-img .dialog-body .inner-main .select-img-box .load-img {
  width: 100%;
  height: 222px;
  text-align: center;
  line-height: 222px;
}
#select-img .dialog-body .inner-main .select-img-box .img-pic {
  padding: 20px;
  text-align: center;
}
#select-img .dialog-body .inner-main .select-img-box .img-pic .img-list {
  display: block;
  list-style: none;
  /*margin-left: -30px;*/
  margin-left:10px;
}
#select-img .dialog-body .inner-main .select-img-box .img-pic .img-list .img-item {
  position: relative;
  display: list-item;
  float: left;
  margin-right: 11px;
  margin-bottom: 10px;
  text-align: center;
}
#select-img .dialog-body .inner-main .select-img-box .img-pic .img-list .img-item .selected {
  width: 117px;
  border: 1px solid #D3D3F9;
  margin: 0;
  cursor: pointer;
  position: relative;
}
#select-img .dialog-body .inner-main .select-img-box .img-pic .img-list .img-item .selected .pic {
  display: block;
  width: 115px;
  height: 117px;
  display: block;
}
#select-img .dialog-body .inner-main .select-img-box .img-pic .img-list .img-item .selected .picName {
  display: inline-block;
  height: 32px;
  width: 115px;
  line-height: 32px;
}
#select-img .dialog-body .inner-main .select-img-box .img-pic .img-list .img-item .selected .hiddenBox {
  display: none;
  width: 115px;
  height: 151px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
#select-img .dialog-body .inner-main .select-img-box .img-pic .img-list .img-item .selected .hiddenMask {
  width: 115px;
  height: 117px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0.5;
}
#select-img .dialog-body .inner-main .select-img-box .img-pic .img-list .img-item .selected .hiddenSelect {
  width: 115px;
  height: 117px;
  background: url(../img/tick.png) no-repeat;
  background-position: 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}
#select-img .dialog-body .inner-main .page {
  display: none;
  text-align: right;
  width: 100%;
  height: 52px;
  padding-right: 20px;
  padding-top: 10px;
}
#select-img .dialog-body .inner-main .page .page-num {
  display: inline-block;
  width: 40px;
  height: 21px;
  margin-right: 5px;
}
#select-img .dialog-body .inner-main .page .btn-next {
  height: 30px;
  width: 32px;
  border: 1px solid #e7e7eb;
  margin-right: 5px;
}
#select-img .dialog-body .inner-main .page .btn-next i {
  display: inline-block;
  height: 0;
  width: 0;
  border-width: 6px;
  border-style: dashed;
  border-color: transparent transparent transparent #919191;
}
#select-img .dialog-body .inner-main .page .btn:hover {
  background-color: #e7e7eb;
}
#select-img .dialog-body .inner-main .page .btn-pre {
  height: 30px;
  width: 32px;
  border: 1px solid #e7e7eb;
}
#select-img .dialog-body .inner-main .page .btn-pre i {
  display: inline-block;
  margin-left: -6px;
  height: 0;
  width: 0;
  border-width: 6px;
  border-style: dashed;
  border-color: transparent #919191 transparent transparent ;
}
#select-img .dialog-body .inner-main .page .goto-area input {
  width: 77px;
  height: 32px;
  border: 1px solid #e7e7eb;
  border-radius: 3px;
  text-align: center;
  margin-right: 5px;
}
#select-img .dialog-body .inner-main .page .goto-area .page-go {
  width: 70px;
  height: 32px;
  border: 1px solid #e7e7eb;
  color: #000;
}
#select-img .dialog-body .inner-main .page .goto-area .page-go:hover {
  background-color: #e7e7eb;
}
#select-img .dialog-foot {
  height: 65px;
  width: 100%;
  line-height: 65px;
  padding: 0px 20px;
  background-color: #f4f5f9;
  border-bottom: 1px solid #e7e7eb;
}
#select-img .dialog-foot .btn {
  width: 106px;
  height: 32px;
  display: inline-block;
  background-color: white;
  border: 1px solid #e7e7eb;
  border-radius: 5px;
  text-align: center;
}
#select-img .dialog-foot .btn:hover {
  background-color: #f4f5f9;
}
#select-img .dialog-foot .certain-btn {
  margin-left: 170px;
  margin-right: 20px;
}
/*从图片库选择 弹出框的样式-----end*/
/*当加载数据的时候显示提示-----start*/
#loading-wrap{
  display: none;
  position: fixed;
  left:0px;
  top:0px;
  width:100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.4;
  z-index:999;
}
#loading-img{
  display: none;
  position: fixed;
  width: 33px;
  height: 39px;
  background-image: url('../img/loading.gif');
  background-repeat: no-repeat;
  background-position: -134px -80px;
  margin: 0 auto;
  top:50%;
  left:50%;
  z-index:1000;
}
#loading-tip{
  display: none;
  position: fixed;
  left: 37%;
  top: 51%;
  color: #000;
  z-index: 1000;
  font-size: 16px;
  cursor:default;
}
/*当加载数据的时候显示提示-----end*/